.profile {
    float: right !important;
    img {
        width: 100%;
    }
}
.address {
    font-family: monospace;

    p { margin: 0; }
}

.project {
    box-sizing: border-box;
    float: left;
    height: 250px;
    padding: 0px;
    vertical-align: middle;
		horizontal-align: middle;
    width: 33.33%;

    .thumbnail {
        overflow: hidden;
        height: 200px;
        width: 200px;

        img {
            height: 200px;
            position: relative;
                left: 0%;
                top: 0%;
            width: 200px;
        }

        a {
            float: left;
            height: 230px;
            position: relative;
            width: 100%;

            span {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,0.4);
                color: $grey-color-light;
                padding: 40px;
                text-align: center;

                h1 {
                    font-size: 1.5rem;
                    margin: 0;
                }

                p {
                    color: $grey-color-light;
                }
            }

            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}

.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;

        .date { width: 19%; }
        .announcement { width: 81%; }

        tr { text-align: left; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}

.social {
    border-top: 1px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 20px;
}
